// Import all partials
@require './_*.styl'

body
  background #FAFDFF
  color #484C5A
  .headline
    text-align center
  
.day
  border 1px solid aliceblue
  background aliceblue
  border-radius 20px
  .day-headline
    text-align center
  .day-icon
      display: block
      margin: 0 auto